language: python
python:
  - "3.6.4"
env:
  global:
    - MAKEFLAGS="-j 2"

install:
  - pip install mypy
  - pip install mypy_extensions
  - pip install xml2rfc
  - pip install typeguard
  - gem install --no-doc kramdown-rfc2629

jobs:
  include:
    - stage: build
      script:
        - make -C build test
        - make -C spec-compilers
        - make -C rfc
    - stage: test
      script: make run
    -
      script: make check
    -
      script: make test
